.mobile-responsive {
    margin-bottom: 200px!important;
    max-width: 100%;
}

.specialities-home .icon img {
    max-height: 100%;
    max-width: 100%;
}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #b3afaf66;
    z-index: 8;
}

.loader .fa {
    margin: auto;
    font-size: 30px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.cur-icon {
    height: 15px;
    width: 15px;
}

.filter-overflow {
    white-space: inherit;
    height: auto;
}

.filter-overflow a {
    margin-bottom: 7px;
}

.search-box:before {
    display: none;
    width: 0px;
}

.search-box.input-group .input-group-text {
    background-color: #f8f8fb;
    border-color: #f8f8fb;
}

.star {
    margin-right: 5px;
}

.doctor-booking {
    margin-bottom: 75px;
}